.dockerignore
.gitignore
.bowerrc
CHANGE.md
composer.phar
index-test.php
indexing.cmd
init
init.bat
inlislite.sublime-project
inlislite.sublime-workspace
install_rar.sh
installLinux.md
LICENCE
LICENCE.md
panduanSinkronisasi.md
PERFORMANCE-TUNING.md
README.md
requirements.php
revision_info.txt
yii
yii.bat
.idea
.git
.github
api/runtime/cache/
api/runtime/debug/
api/runtime/logs/
api/web/assets/

article/assets/
article/runtime/cache/
article/runtime/debug/
article/runtime/logs/

assets/

bacaditempat/assets/
bacaditempat/runtime/cache/
bacaditempat/runtime/debug/
bacaditempat/runtime/logs/

backend/assets/
backend/runtime/cache/
backend/runtime/debug/
backend/runtime/logs/

console/runtime/cache/
console/runtime/debug/
console/runtime/logs/

digitalcollection/assets/
digitalcollection/runtime/cache/
digitalcollection/runtime/debug/
digitalcollection/runtime/logs/

guestbook/assets/
guestbook/runtime/cache/
guestbook/runtime/debug/
guestbook/runtime/logs/

keanggotaan/assets/
keanggotaan/runtime/cache/
keanggotaan/runtime/debug/
keanggotaan/runtime/logs/

opac/assets/
opac/runtime/cache/
opac/runtime/debug/
opac/runtime/logs/

peminjamanmandiri/assets/
peminjamanmandiri/runtime/cache/
peminjamanmandiri/runtime/debug/
peminjamanmandiri/runtime/logs/

pengembalianmandiri/assets/
pengembalianmandiri/runtime/cache/
pengembalianmandiri/runtime/debug/
pengembalianmandiri/runtime/logs/