.dockerignore
.gitignore
.bowerrc
src/CHANGE.md
src/composer.phar
src/index-test.php
src/indexing.cmd
src/init
src/init.bat
src/inlislite.sublime-project
src/inlislite.sublime-workspace
src/install_rar.sh
src/installLinux.md
src/LICENCE
src/LICENCE.md
src/panduanSinkronisasi.md
src/PERFORMANCE-TUNING.md
src/README.md
src/requirements.php
src/revision_info.txt
src/yii
src/yii.bat

.idea
.git
.github

src/api/runtime/cache/*
src/api/runtime/debug/*
src/api/runtime/logs/*
src/api/web/assets/*

src/article/assets/*
src/article/runtime/cache/*
src/article/runtime/debug/*
src/article/runtime/logs/*

src/assets/*

src/bacaditempat/assets/*
src/bacaditempat/runtime/cache/*
src/bacaditempat/runtime/debug/*
src/bacaditempat/runtime/logs/*

src/backend/assets/*
src/backend/runtime/cache/*
src/backend/runtime/debug/*
src/backend/runtime/logs/*

src/console/runtime/cache/*
src/console/runtime/debug/*
src/console/runtime/logs/*

src/digitalcollection/assets/*
src/digitalcollection/runtime/cache/*
src/digitalcollection/runtime/debug/*
src/digitalcollection/runtime/logs/*

src/guestbook/assets/*
src/guestbook/runtime/cache/*
src/guestbook/runtime/debug/*
src/guestbook/runtime/logs/*

src/keanggotaan/assets/*
src/keanggotaan/runtime/cache/*
src/keanggotaan/runtime/debug/*
src/keanggotaan/runtime/logs/*

src/opac/assets/*
src/opac/runtime/cache/*
src/opac/runtime/debug/*
src/opac/runtime/logs/*

src/peminjamanmandiri/assets/*
src/peminjamanmandiri/runtime/cache/*
src/peminjamanmandiri/runtime/debug/*
src/peminjamanmandiri/runtime/logs/*

src/pengembalianmandiri/assets/*
src/pengembalianmandiri/runtime/cache/*
src/pengembalianmandiri/runtime/debug/*
src/pengembalianmandiri/runtime/logs/*

#vendor
src/vendor