body{
background:url(images/bg_bodylogin.png) repeat-x top #2680b9;
font-family:Verdana, Geneva,"Lucioda Grande" ,sans-serif;
padding:0px;margin:0px;
}
#div-loading
{
	background-color: #FF3300;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	font-size:8pt;
	display:none;
}
#content{width:100%;background:transparent;}
#content .cloud{display:block;width:500px;height:305px;border:0px solid black;top:100px;position:relative;background:url(images/cloud.png);margin:0px;}
#content .frmlogin{display:block;width:650px;height:100px;border:0px solid red;top:70px;position:inherit;margin:0px;padding:70px;}
#content .input_login{font-size:1.7em;padding:4px 8px 4px 10px;color:#e0e0e0;border-radius:6px;border:2px solid #2476cf;margin:0px;height:30px;}
#content .button_login{margin:0px;height:42px;width:113px;background:url(images/bt_signin.png);border:0px;cursor:pointer}

#content .input_login_glow{font-size:1.7em;padding:4px 8px 4px 10px;color:#666;border-radius:6px;border:2px solid #2476cf;margin:0px;height:30px;box-shadow:0px 0px 20px #24e4fb;}
.idtf{font-size:10px;color:white;}

#footer {position:relative; top:60px;color:white; font-size:10px;}
#footer .perpus{background:url(images/logo_kecil.png) no-repeat top left;height:25px;padding:5px 0px 5px 28px; text-shadow:0px 0px 3px black;}
